#nav-div{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid black;
    font-size: 17px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

.nav-link {
    display: block;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    color: rgb(31, 31, 31);
}

.nav-link:hover {
    background-color: darkgrey;
}

@media screen and (max-width: 600px) {
    ul li .nav-link {float: none;}
}

#header-img {
    width: 300px;
    height: auto;
    display: block;
    margin-top: 5px;
}

#nav-bar {
}

#diag-div {
    display: flex;
    top: 40px;
    flex-direction: row;
}

#title {
    font-size: 40px;
    position: relative;
}

#main-img {
    max-width: 100%;
    max-height: auto;
    position: relative;
    float: right;
    transform: rotate(-13deg);
}

#info-div {
    position: relative;
    display: flex;
}

#favorite-1 {

}

#favorite-2 {

}

#footer {
    display: flex;
    position: relative;
    background-color: rgb(63, 63, 63);
    color: white;
    text-decoration: none;
}

#email-label {

}

#email {

}

#form {

}

#copyright {
}

button[type=button] {

}

button[type=button]:hover {

}

button[type=submit] {

}