body {
    padding: 0;
    margin: 0;
    font-family: helvetica;
}

#body {
    width: 100%;
    height: 100%;
}

#nav-div{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid black;
    font-size: 17px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

.nav-link {
    display: block;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    color: rgb(31, 31, 31);
}

.nav-link:hover {
    background-color: darkgrey;
}

@media screen and (max-width: 600px) {
    ul li .nav-link {float: none;}
}

#header-img {
    width: 300px;
    height: auto;
    display: block;
    margin-top: 5px;
    margin-left: 5px;
}

#diag-div {
    display: flex;
    background-image: 
        url("https://i.imgur.com/DfGGdNC.png"),
        url("https://i.imgur.com/Bm4JAEW.png");
    background-repeat: no-repeat;
    background-position:
        top right,
        0px 40px;
    background-size: 
        60%,
        100%;
    height: 100vh;
}

#title {
    font-size: 2.6em;
    position: absolute;
    top: 16vh;
    left: 7vw;
    width: 35vw;
    height: auto;
}

/*#main-img {
    max-width: 80%;
    max-height: auto;
    position: absolute;
    right: -325px;
    top: -260px;
    transform: rotate(-13deg);
}*/

#info-div {
    margin-top: 10vh;
    position: relative;
}

h2 {
    font-size: 2em;
}

#favorites-div {
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#favorite-1 #favorite-2 {
}

#vaporflies #airForce {
    font-size: 2em;
}

#video {
    width: 600px;
    height: 400px;
}

#fav-img {
    width: 600px;
    height: 400px;
}

#footer {
    display: flex;
    position: relative;
    background-color: rgb(63, 63, 63);
    color: white;
    text-decoration: none;
}

#email-label {

}

#email {

}

#form {

}

#copyright {
}

button[type=button] {

}

button[type=button]:hover {

}

button[type=submit] {

}